#scalability{
    display: none;
}
#food{
    display: none;
}
#production{
    display: none;
}
#process{
    display: none;
}
#transportation{
    display: none;
}
#retailing{
    display: none;
}
#demand{
    display: none;
}
#culture{
    display: none;
}
#consumption{
    display: none;
}
#identity{
    display: none;
}
#center{
    display: none;
}
#define{
    display: none;
}
#choose{
    display: none;
}
#process_data{
    display: none;
}
#consumption_data{
    display: none;
}
#production_data{
    display: none;
}
#demand_data{
    display: none;
}
path.leftmove{
    stroke-dasharray: 100;
    animation: dash 5s linear forwards;
}

path.rightmove{
    stroke-dasharray: 100;
    animation: dash 5s linear forwards;
}

path.middletopmove{
    stroke-dasharray: 100;
    animation: dash 5s linear backwards;
    animation-direction: reverse;
}

path.middlebottommove{
    stroke-dasharray: 100;
    animation: dash 5s linear backwards;
    animation-direction: reverse;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}