body {
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
   }
h1 {
    font-size: 50px;
    margin: 0;
    font-family: 'Amatic SC';
    text-align: center;
    color: white;
}
h2 {
    font-size: 30px;
    margin: 0;
    font-family: 'Amatic SC';
    text-align: center;
    color: white;
}
#first-intro{
    font-size: 22px;
    margin: 0;
    font-family: 'Amatic SC';
    max-width: 800px;
    color: white;
    margin:auto;
    background-color: black;
}
#intro{
    font-size: 22px;
    margin: 0;
    font-family: 'Amatic SC';
    max-width: 800px;
    color: white;
    margin:auto;
    background-color: black;
}
#position_intro{
    font-size: 22px;
    margin: 0;
    font-family: 'Amatic SC';
    max-width: 800px;
    color: white;
    margin:auto;
    background-color: black;
}
#winner{
    margin-top: 3;
    text-align: center;
}

#graphs{
    margin-top: 3;
    text-align: center;
}
#svgtext{
    font-family: 'Amatic SC';
    font-size: 20pt;
    color:white;
}
#att_text{
    font-family: 'Amatic SC';
    font-size: 10pt;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
#vic_text{
    font-family: 'Amatic SC';
    font-size: 10pt;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
#smoke_text{
    font-family: 'Amatic SC';
    font-size: 10pt;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
#nade_text{
    font-family: 'Amatic SC';
    font-size: 10pt;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
#flash_text{
    font-family: 'Amatic SC';
    font-size: 10pt;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
#flame_text{
    font-family: 'Amatic SC';
    font-size: 10pt;
    color:black;
    font-weight:bold;
    cursor:pointer;
}
#legendtext{
    font-family: 'Amatic SC';
    font-size: 15pt;
    color:black;
}
#charts{
    margin-top: 3;
    text-align: center;
}
#position{
    text-align: center;
}
#scoretext{
    font-family: 'Amatic SC';
    font-size: 10pt;
    color:white;
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}
  
.arc path {
    stroke: #fff;
}

#pie-chart{
    text-align: center;
}

#clicktext{
    font-family: 'Amatic SC';
    font-size: 16pt;
    color:white;
    cursor: pointer;
    font-weight: bold;
}
#pietext{
    font-family: 'Amatic SC';
    font-size: 14pt;
    font-weight:bold;
}
#playertext{
    font-family: 'Amatic SC';
    font-size: 17pt;
} 
#dmgtext{
    font-family: 'Amatic SC';
    font-size: 17pt;
} 
#takentext{
    font-family: 'Amatic SC';
    font-size: 17pt;
} 
#Head-text{
    font-family: 'Amatic SC';
    font-weight:bold;
} 
#Chest-text{
    font-family: 'Amatic SC';
    font-weight:bold;
} 
#Stomach-text{
    font-family: 'Amatic SC';
    font-weight:bold;
} 
#LeftArm-text{
    font-family: 'Amatic SC';
    font-weight:bold;
} 
#RightArm-text{
    font-family: 'Amatic SC';
    font-weight:bold;
} 
#LeftLeg-text{
    font-family: 'Amatic SC';
    font-weight:bold;
} 
#RightLeg-text{
    font-family: 'Amatic SC';
    font-weight:bold;
} 
#Generic-text{
    font-family: 'Amatic SC';
    font-weight:bold;
} 
#show_att{
    cursor:pointer;
}
#show_vic{
    cursor:pointer;
}
#show_nade{
    cursor:pointer;
}
#show_smoke{
    cursor:pointer;
}
#show_flame{
    cursor:pointer;
}
#show_flash{
    cursor:pointer;
}
#mypopup {
    width: 400px;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background-color: white;
    border-radius: 6px;
    position: absolute;
    display: none;
}
#mypopup::before {
    content: "";
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    background-color: white;
    position: absolute;
    left: -6px;
    top: 68px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: transparent;
    height: 100%;
    position: fixed; 
    overflow: auto; 
}
 
li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Amatic SC';
    font-size: 20px;
    font-weight: bold;
    background-color: #555;
}

li a:hover {
    background-color: white;
    color: black;
}
