body {
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
   }
h1 {
    font-size: 50px;
    margin: 0;
    font-family: 'Amatic SC';
    text-align: center;
    color: white;
}
h2 {
    font-size: 30px;
    margin: 0;
    font-family: 'Amatic SC';
    text-align: center;
    color: white;
}
#winner{
    margin-top: 3;
    text-align: center;
}
#graphs{
    margin-top: 3;
    text-align: center;
}
#svgtext{
    font-family: 'Amatic SC';
    font-size: 20pt;
    color:white;
}
#legendtext{
    font-family: 'Amatic SC';
    font-size: 15pt;
    color:white;
}
#charts{
    margin-top: 3;
    text-align: center;
}
#position{
    text-align: center;
}
#scoretext{
    font-family: 'Amatic SC';
    font-size: 10pt;
    color:white;
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}
  
.arc path {
    stroke: #fff;
}

#pie-chart{
    text-align: center;
}

#clicktext{
    font-family: 'Amatic SC';
    font-size: 20pt;
    color:white;
    cursor: pointer;
}